.order {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Order-OnlineStore */

.store {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.store img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform .7s;
  cursor: pointer;
}

.store img:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

@media screen and (max-width: 750px) {
  .store {
    width: 100%;
  }
}