@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');



.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
}


.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .4s ease-in-out;
}

.main-section {
  position: relative;
  z-index: 10;
  margin-bottom: 300px;
  background-color: #f4f1ec;
  transition: all .5s ease-in-out;
}

.sidebar-open {
  position: fixed;
  right: 0;
  left: 0;
  transform: translate(-400px);
  width: 100%;
  z-index: 10;
  opacity: 0.5;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.main-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

/* Navbar */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  height: 80px;
  animation: fadeIn 0.3s ease-in-out 0 1 normal none;
  transition: all 300ms ease-in-out;
}

.navbar-wrapper {
  width: 980px;
  height: 100%;
  display: grid;
  grid-template-columns: 5% 1fr 5%;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.hamburger-container {
  height: 50px;
  width: 50px;
}

.hide-icon {
  display: none;
}

.hamburger-lines {
  position: relative;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.hamburger-lines:hover {
  transform: scaleY(1.3);
}

.close-lines {
  position: relative;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.close-lines:hover {
  transform: scale(1.3);
}

.line {
  position: absolute;
  display: block;
  background-color: #501818;
  height: 2px;
  width: 24px;
  left: 50%;
  transform: translate(-50%)
}


.line1 {
  top: 16px;
  transition: 0.3s ease-in-out;
}


.line2 {
  top: 24px;
  transition: 0.2s ease-in-out;
}

.line3 {
  top: 32px;
  transition: 0.3s ease-in-out;
}


.x-line {
  position: absolute;
  display: block;
  background-color: #501818;
  height: 2px;
  width: 24px;
  left: 30%;
  transform: translate(-30%)
}

.x-line1 {
  transform: rotate(45deg);
  transition: 0.3s ease-in-out;
}

.x-line2 {
  transform: scaleY(0);
  transition: 0.2s ease-in-out;
}

.x-line3 {
  transform: rotate(-45deg);
  transition: 0.3s ease-in-out;
}


.nav-logo-container {
  width: 219px;
  height: 80px;
}

.nav-logo-wrapper {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  cursor: pointer;
}

.nav-logo {
  width: 100%;
  height: 100%;
}

.cart-container {
  width: 50px;
  height: 50px;
}

.cart-logo-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

}

.cart-logo-wrapper svg {
  position: absolute;
  top: 20%;
  left: 20%;
  fill: #501818;
  width: 26px;
  height: 30px;
  transition: all .5s ease-in-out;
}

.cart-logo-wrapper svg:hover {
  transform: scale(1.2);
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  width: 100%;
  background: #f4f1ec;
  animation: fadeIn 0.3s ease-in-out 0 1 normal none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.sticky-nav .line {
  background: #000000;
}

.sticky-nav svg {
  fill: #000000;
}


/* Navbar-Overlay */

.show-menu {
  width: 100%;
  height: 100vh;
  display: block;
}

.close-menu {
  display: none;
}

.overlay-nav {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f4f1ec;
  transition: all 0.5s ease-in-out;
}

.overlay-nav svg {
  fill: #733311;
}

.overlay-nav-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #733311;
  overflow-y: scroll;
}

.content-top {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  padding: 20px 0;
}


.content-top ul {
  width: 100%;
  height: 50px;
  position: relative;
}

.content-top li {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: hidden;
}


.content-top span {
  line-height: 2.25;
  width: fit-content;
  display: inline-block;
  height: 100%;
  padding: 7px 0;
  transition: all 0.3s ease-in-out;
}

.content-top li:nth-child(1) span {
  animation: wave 0.4s ease-in-out 0s 1 normal forwards;
}

.content-top li:nth-child(2) span {
  animation: wave 0.4s ease-in-out 0.1s 1 normal forwards;
}

.content-top li:nth-child(3) span {
  animation: wave 0.4s ease-in-out 0.2s 1 normal forwards;
}

.content-top li:nth-child(4) span {
  animation: wave 0.4s ease-in-out 0.3s 1 normal forwards;
}

.content-top li:nth-child(5) span {
  animation: wave 0.4s ease-in-out 0.4s 1 normal forwards;
}

.content-top li:nth-child(6) span {
  animation: wave 0.4s ease-in-out 0.5s 1 normal forwards;
}

.content-top li:nth-child(7) span {
  animation: wave 0.4s ease-in-out 0.6s 1 normal forwards;
}

.content-top li:nth-child(8) span {
  animation: wave 0.4s ease-in-out 0.7s 1 normal forwards;
}

.content-top li:nth-child(9) span {
  animation: wave 0.4s ease-in-out 0.8s 1 normal forwards;
}

.content-top li:nth-child(10) span {
  animation: wave 0.4s ease-in-out 0.9s 1 normal forwards;
}

.content-top li:nth-child(11) span {
  animation: wave 0.4s ease-in-out 1s 1 normal forwards;
}

.content-top li:nth-child(12) span {
  animation: wave 0.4s ease-in-out 1.1s 1 normal forwards;
}

.content-top li:nth-child(13) span {
  animation: wave 0.4s ease-in-out 1.2s 1 normal forwards;
}

@keyframes wave {
  0% {
    line-height: 3;
    opacity: 0;
  }

  100% {
    line-height: 2.25;
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    transform: translateY(0px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.content-top span:hover {
  transform: translateY(-10px);
}


.content-top span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0;
  left: 50%;
  bottom: 5px;
  transition: all 0.4s;
}

.content-top span:hover::after {
  width: 100%;
  left: 0;
  border-bottom: 2px solid #000;
}

.content-bottom {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.5px;
  padding: 20px 0;
}

.content-bottom li:nth-child(1) {
  animation: wave 0.4s ease-in-out 1.2s 1 normal forwards;
}

.content-bottom li:nth-child(2) {
  animation: wave 0.4s ease-in-out 1.3s 1 normal forwards;
}

.content-bottom li:nth-child(3) {
  animation: wave 0.4s ease-in-out 1.4s 1 normal forwards;
}

.content-bottom li:nth-child(4) {
  animation: wave 0.4s ease-in-out 1.5s 1 normal forwards;
}

.content-bottom li:nth-child(5) {
  animation: wave 0.4s ease-in-out 1.6s 1 normal forwards;
}

.content-bottom li:nth-child(6) {
  animation: wave 0.4s ease-in-out 1.7s 1 normal forwards;
}

.content-bottom li:nth-child(7) {
  animation: wave 0.4s ease-in-out 1.8s 1 normal forwards;
}

.content-bottom a {
  padding: 5px 0;
}

.content-bottom a:hover {
  opacity: 0.5;
}

.overlay-nav-content .content-search {
  width: 100%;
  vertical-align: top;
  padding-top: 20px;
  margin-bottom: 2px;

}

.overlay-nav-content .content-search input {
  border: none;
  background-color: transparent;
  line-height: 2.25;
  padding: 8px 12px;
}

.overlay-nav-content .content-search button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
}

.overlay-nav-content .content-search svg {
  width: 20px;
  height: 20px;
}

.content-search svg:hover {
  opacity: .7;
}

.content-search-underline {
  width: 250px;
  margin: 0 auto;
  text-align: center;
  border-top: 2px solid black;
  padding-bottom: 40px;
}

/* Nav-OfF Canvas */

.show-cart {
  position: absolute;
  right: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.close-cart {
  position: absolute;
  right: -400px;
  transition: all 0.4s ease-in-out;
}

.off-canvas {
  width: 400px;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  height: 100vh;
  opacity: 1;
  z-index: 10;
  transition: all .5s ease-in-out;
}

/* .off-canvas-wrapper {
  position: sticky;
  top: 0;
  right: 0;
} */

.off-canvas-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  border-bottom: 1px solid #6161611a;
}


.off-canvas-content h2 {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.25px;
  color: #310e0e;
}

.off-canvas-content button {
  position: absolute;
  top: 45%;
  right: 60px;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
}


/* Slide */

.slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 35px);
  max-height: calc(100vh - 35px);
  min-height: 300px;

}

.slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
  text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  background-color: #a07f5bc4;
}

.slide-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 0.9;
}

.shop-btn-container {
  position: absolute;
  top: 50%;
  left: 43.65%;
  width: 150px;
  height: 55px;
  word-wrap: nowrap;
  z-index: 10;
  transition: all .2s ease-in-out;
  animation: scaleDown 0.3s ease-in 0 1 normal none;
}

@keyframes scaleDown {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.shop-btn-container:hover {
  top: 49.9%;
  left: 43.55%;
  width: 153px;
  height: 57px;
}

.shop-btn {
  width: 100%;
  height: 100%;
  background-color: #501818;
  color: #ffffff;
  border: 2px solid #501818;
  padding: 18px 30px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
}



.select-container {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  text-size-adjust: 100%;
  transform-style: flat;
}

.option-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 416px;
  text-align: center;
  text-size-adjust: 100%;
  /* transform: translate(-50%); */
}



.option {
  position: relative;
  box-sizing: border-box;
  display: block;
  align-items: flex-start;
  background-color: transparent;
  border: 0px none #733311;
  color: #733311;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 4px 0px 35px 0px;
  padding: 20px 40px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.option:hover {
  transform: translateY(-15px);
}


.option span {
  width: fit-content;
  position: relative;
  padding: 20px 0;
}

.option span::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0;
  left: 50%;
  bottom: 5px;
  transition: all 0.45s;
}

.option span:hover::after {
  width: 100%;
  left: 0;
  border-bottom: 2px solid #733311;
}


/* Main-Catalogue */
.catalogue {
  width: 100%;
  height: 167vh;
  padding: 60px 0;
}

.catalogue-header-wrapper {
  margin-bottom: 20px;
}

.catalogue-header {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.225;
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 0;
}

.catalogue-container {
  width: 100%;
  height: auto;
  padding: 60px 0;
}

.catalogue-wrapper {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.catalogue-card-wrapper {
  width: 960px;
  display: block;
  zoom: 1;
  margin-left: -20px;
}

.catalogue-card-wrapper ::after {
  display: table;
  clear: both;
}

.catalogue-card {
  width: 320px;
  display: block;
  float: left;
  padding-left: 20px;
  margin-bottom: 40px;
}

.catalogue-img-wrapper {
  display: inline-block;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;
}

.catalogue-img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .7s;
}

.catalogue-img:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

.catalogue-card p {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-stretch: 100%;

}

/* Main-Item */

.item {
  width: 100%;
  height: 200vh;
}

.item-container {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.item-card {
  display: flex;
  width: 100%;
  padding: 60px 20px;
}

.item-img-wrapper {
  width: 470px;
  height: 470px;
}

.item-img {
  width: 100%;
  height: 100%;
}

.item-content {
  margin-bottom: 60px;
}

.item-detail {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 470px;
  padding: 0 60px;
}

.item-detail p {
  color: black;
}

.item-title {
  font-size: 2.5rem;
  line-height: 1.225;
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 0;
  margin-bottom: 5px;
}

.item-price {
  margin: 0;
}

.item-text {
  font-size: smaller;
  margin: 0;
  margin-top: 5px;
}

.item-text a {
  text-decoration: underline;
  color: #000000;
}

.item-text a:hover {
  color: #733311;
}

.item-form {
  width: 100%;
  height: 140px;
}

.select-wrap {
  width: 100%;
  border: none;
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
}

.select-wrap label {
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: #733311;
  padding: 10px 20px;
  position: absolute;
  left: 0;
  white-space: nowrap;
}

.select-wrap label::after {
  content: "-";
  position: absolute;
  right: 7px;
}

.select-wrap select {
  width: 100%;
  background-color: #fff;
  text-transform: capitalize;
  border: 0px;
  height: 50px;
  font-size: 14px;
  padding: 10px 28px 10px 130px;
  appearance: none;
}

.arrow-icon {
  width: 5px;
  height: 5px;
  position: absolute;
  right: 20px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(44, 43, 43);
}


.select-wrap option {
  background-color: #f4f1ec;
}

.item-add-btn {
  width: 100%;
  border: 2px solid #501818;
  margin-top: 30px;
  padding: 15px 0;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
  transition: all .2s ease-in-out;
}

.item-add-btn:hover {
  border: 3px solid #501818;
}

.item-share {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.item-share svg {
  fill: #733311;
  width: 20px;
  height: 15px;
}

.item-share li {
  list-style: none;
}

.item-share-wrapper {
  width: 100%;
  position: relative;
}

.detail-ref,
.share-btn {
  position: relative;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #733311;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.detail-ref:hover,
.share-btn:hover {
  opacity: 0.8;
}

.detail-ref {
  padding: 20px 10px 20px 30px;
  text-align: end;
}

.share-btn {
  height: 59.5px;
  padding: 20px;
}

.item-share-detail {
  width: 100%;
}


.share-btn-svg-wrapper,
.detail-ref-svg-wrapper {
  position: absolute;
  top: 35%;
  left: 15%;
  width: 20px;
  height: 15px;
}

.social-share-wrapper {
  position: absolute;
  top: 100%;
  left: -2%;
  width: 175px;
  height: 40px;
  display: none;
}

.social-share-item-list {
  width: 100%;
  height: 100%;
  display: flex;
}

.social-share-item {
  position: relative;
  border: 2px solid #36363636;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 10px;
}

.social-share-item-list svg {
  position: absolute;
  top: 22%;
  right: 18%;
  width: 20px;
  height: 20px;
}

.show-share {
  position: absolute;
  top: 100%;
  left: -2%;
  width: 175px;
  height: 40px;
  display: block;
}


/* Hero */

.hero {
  box-sizing: border-box;
  width: 100%;
  height: 33.15rem;
  background-color: #a07f5b;
}

.hero-bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-bg::before {
  content: "";
  background-image: url("https://cdn.shopify.com/s/files/1/0405/8411/8424/files/Screen_Shot_2021-05-14_at_3.47.32_AM.png?v=1620935280");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;


}

.hero-wrapper {
  position: relative;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  padding: 140px 20px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-text h2 {
  position: relative;
  font-size: 2.5rem;
  line-height: 1.225;
  font-family: 'Arvo', serif;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
}


.hero-text h2::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  right: 0;
  background-color: #501818;
  height: 6px;
  width: 80px;
  margin: 0 auto 20px;
  animation: dash 0.7s linear 0.2s 1 normal forwards;
  transition: all 0.2s ease-in-out;
}

.hero-order {
  text-align: center;
  margin-top: 30px;
}

.hero-btn {
  border: 2px solid #501818;
  background-color: #501818;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}

.hero-btn:hover {
  padding: 17px 32px;
}

@keyframes dash {
  0% {
    width: 0px;
  }

  100% {
    width: 80px;
  }
}

/* Menu */

.menu {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  /* overflow: hidden; */
}

.menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}

.menu-bg-wrapper {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  margin-right: -50%;
}

.menu-bg {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0405/8411/8424/files/IMG_1998_copy_900x.jpg?v=1621589928");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.menu-text {
  position: absolute;
  top: 48%;
  left: 50%;
  height: 40px;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.menu-text h2 {
  /* position: relative;
  top: 40px; */
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.225;
  font-family: 'Arvo', serif;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  /* animation: slideUp 0.2s ease-in 0.1s 1 normal forwards; */
}

/* @keyframes slideUp {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(-40px);
    opacity: 1;
  }
} */


/* Menu-ViewMenu */

.view-menu-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50%;
}

.view-menu {
  width: 18rem;
  height: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding: 120px 0;
}

.view-menu img {
  width: 100%;
}

.view-menu h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 700;
  border: none;
}

.view-menu button {
  border: 2px solid #501818;
  background-color: transparent;
  color: #501818;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 15px 30px;
  margin: 10px 0;
  transition: all 0.1s;
}

.view-menu button:hover {
  border: 3px solid #501818;
}

/* Store Locator */

.locator {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.locator-img-wrapper {
  width: 50%;
  height: 100%;
}

.locator-img {
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0405/8411/8424/files/Tribute_2.jpg?v=1620935610");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.locator-text-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.locator-text {
  position: relative;
  padding: 220px 40px;
  margin: 0 70px;
}

.locator-text h2::before {
  content: "";
  position: absolute;
  top: 33%;
  left: 8.5%;
  background-color: #501818;
  height: 6px;
  width: 80px;
  margin: 0 auto 20px;
  animation: dash 0.7s linear 0.2s 1 normal forwards;
  transition: all 0.2s ease-in-out;
}


.locator-text h2 {
  font-size: 2rem;
  line-height: 1.225;
  font-family: 'Arvo', serif;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0;
  margin-bottom: 20px;
}

.locator-text a {
  border: 2px solid #501818;
  background-color: #501818;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding: 15px 30px;
  font-weight: 700;
  font-size: 12px;
  transition: all .2s ease-in-out;
}

.locator-text a:hover {
  padding: 17px 32px;
  transform: translate(-2px, -2px)
}

/* Order */

.order {
  width: 100%;
  height: 100vh;
  background-color: blue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/* Order-OnlineStore */

.store {
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.store img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform .7s;
  cursor: pointer;
}

.store img:hover {
  transform: scale(1.05);
  transform-origin: 50% 50%;
}

/* Footer */

.footer-section {
  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  transition: all 0.5s ease-in-out;
  background-color: #f4f1ec;
}

.footer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 0;
  color: #363636;
}

.footer-content {
  max-width: 980px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content li {
  list-style: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-right: 20px;
}


.footer-top {
  display: flex;
  width: 100%;
  padding-bottom: 40px;
}

.footer-list {
  width: 26%;
  padding: 0 10px;
}

.footer-list ul {
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

.footer-signup {
  width: 48%;
  padding: 0 10px;
}


.footer-label {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-subtext {
  font-size: 14px;
  margin-bottom: 20px;
}

.footer-subsribe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 40px;
}

.footer-email {
  width: 63%;
  background-color: transparent;
  border: none;
  padding: 10px 20px 10px 10px;
  line-height: 24px;
  text-size-adjust: 100%;
}

.footer-email::placeholder {
  color: #363636;
  opacity: 1;
}

.footer-btn-wrapper {
  width: 37%;
  height: 100%;
  text-align: right;
  display: inline-block;
  position: relative;
  color: #363636;
  font-size: 16px;
}

.footer-subscribe-btn {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  color: #363636;
  letter-spacing: 1.25px;
  cursor: pointer;
  text-align: end;
  padding: 2px 7px;
}

.footer-btn-wrapper svg {
  width: 20px;
  height: 7px;
  padding-left: 15px;
  transition: all 1s ease-in-out;
}

.footer-btn-wrapper svg:hover {
  transform: translateX(50%);
}

.footer-email-line {
  width: 100%;
  border-top: 2px solid black;
}


.footer-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

}

.footer-share {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
}

.footer-svg-wrapper {
  margin-right: 10px;
  width: 20px;
  height: 26px;
  margin-right: 10px;
}

.footer-svg-wrapper svg {
  width: 20px;
  height: 20px;
}


.footer-copyright {
  width: 100%;
  text-align: center;
  font-size: 14px;
}