@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all .5s ease-in-out;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all .4s ease-in-out;
}

.main-section {
  position: relative;
  z-index: 10;
  margin-bottom: 300px;
  background-color: #f4f1ec;
  transition: all .5s ease-in-out;
}

.sidebar-open {
  position: fixed;
  right: 0;
  left: 0;
  transform: translate(-400px);
  width: 100%;
  z-index: 10;
  opacity: 0.5;
  overflow: hidden;
  transition: all .4s ease-in-out;
}

.main-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.extend {
  height: 0px;
}

@media screen and (max-width: 750px) {
  .extend {
    height: 700px;
  }
}

/* Navbar */



/* Navbar-Overlay */


/* Nav-OfF Canvas */



/* Slide */


/* Main-Catalogue */

/* Main-Item */



/* Hero */


/* Menu */


/* Store Locator */


/* Order */


/* Footer */